{% extends "base.html" %}

{% block head %}
    {{ parent() }}
    <meta http-equiv=”refresh” content=”5" />
{% endblock %}

{% block subtitle %}Feed{% endblock %}

{% block lead %}Here are the latest 20 messages:{% endblock %}

{% block content %}
<table class="table table-striped">
    <thead>
    <th>Device</th><th>Text</th><th>Timestamp</th><th>Sent</th>
    </thead>
    {% for message in messages %}
    <tr>
        <td>{{ message.deviceCode }}</td>
        <td>{{ message.text }}</td>
        <td>{{ message.timestamp }}</td>
        <td>
            {% if message.sent %}
            <span class="glyphicon glyphicon-check" alt='sent' title='sent'></span>
            {% else %}
            <span class='glyphicon glyphicon-list' alt='queued' title='queued'></span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}